
<head>
<link rel="stylesheet" type="text/css" href="<%= url('/public/main.css/') %>">
</head>
<div class="contents">
    <% if @contents %>
        <% @contents.each do |content| %>
            <div class="content_container">
                <img class="content_img" src="<%= content['content_img_src'] %>"/>
                <a href="<%= content['content_link'] %>">
                <%= content['content_text'] %>
                </a>
           </div>
        <% end %>
    <% end %>
</div>
